<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.cms.dao.UserMapper">


<select id="selects" resultType="User">
   select * from cms_user
   <where>
    <if test="username!=null and username!=''">
      username like "%"#{username}"%"
    </if>
    <if test="locked!=null">
     and locked=#{locked}
    </if>
   </where>
</select>
</mapper>